.container { 
  height: 100vh;
  width: 100vh;
}


body {
    font-family: "Ubuntu", sans-serif;
    background-color: rgba(238, 238, 238, 0.25) !important;
    background-blend-mode: color;
    background: url("../images/friend_background.jpg");
    background-size: cover;
  
  }
  #startBtn { 

  }


  
  #matchImage {
    display: block;
    margin: 0 auto;
  }
  
  #match {
    text-decoration: underline;
    font-size: 175%;
    margin-bottom: 10px;
  }
  
  img {
    width: 400px;
    height: 600px;
  }
  
  select:last-child {
    margin-bottom: 15px;
  }
  
